.flex-box1 {
  display: flex;
  padding: 40px;
  width: 550px;
  height: auto;
  border: 3px solid #f8f8f8;
  align-items: center;
}

body {
  background-color: #f8f8f8;
}

.iphone1 {
  width: 5500px;
  align-items: left;
}

.flex-box2 {
  display: flex;
  padding: 30px;
  height: fit-content;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 3px solid black;
}

.instagram-logo {
  display: flex;
  height: 300px;
  padding: 499.833 x 300;
}

.container {
  text-align: center;
  width: 180px;
  border-radius: 8px;
  border: none;
  border-color: #87ceeb;
}

@media (width <= 600px) {
  body {
    background-color: #87ceeb;
  }

  .submit {
  
    border-radius: 8px;
    background-color: #87ceeb;
  }


  .username {
  gap: 1rem;
  
}
